body{
    background-color: rgb(43, 44, 43);
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.nav_ul{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    list-style: none;
}
.nav_ul *{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}
.nav_ul a{
    position: relative;
    color: rgba(205, 207, 205, 0.5);
    padding: 0.5rem 0.8rem;
    text-decoration: none;
}
.nav_ul a:before,
.nav_ul a:after{
    position: absolute;
    height: 15px;
    width: 15px;
    content: '';
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease ;
    opacity: 0;
}.nav_ul a:before{
    right: 0;
    top: 0;
    border-right: 3px solid#07d111;
    border-top: 3px solid#07d111;
    -webkit-transform: translate(-100%,50%);
    transform: translate(-100%, 50%);
}
.nav_ul a:after{
    left: 0;
    bottom: 0;
    border-left: 3px solid#07d111;
    border-bottom: 3px solid#07d111;
    -webkit-transform: translate(-100%,50%);
    transform: translate(-100%, 50%);
}
.nav_ul a:hover,
.nav_ul .exchange a{
    color: #ffffff;
}
.nav_ul a:hover:before,
.nav_ul .exchange a:before,
.nav_ul a:hover:after,
.nav_ul .exchange a:after{
    -webkit-transform: translate(0%,0%);
    transform: translate(0%, 0%);
    opacity: 1;
}

