*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  
  }
  body {
    background-color: rgba(14, 13, 13, 0.884);
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment:scroll;
  }
#register {
    width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
  }
  
  input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 5px;
  }
  button[type="submit"] {
    width: 100%;
    background-color:  #45a049;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 30px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #45a049;
  }
  
  